  <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Detalhes do Produto" [modal]="true" styleClass="p-fluid">
                    <ng-template pTemplate="content">
                        <img [src]="'./assets/images/mock/' + product.imagem_principal" [alt]="product.imagem_principal" class="block m-auto pb-3" *ngIf="product.imagem_principal" />
                        <div class="field">
                            <label for="nome">Nome</label>
                            <input type="text" pInputText id="nome" [(ngModel)]="product.nome" required autofocus />
                            <small class="p-error" *ngIf="submitted && !product.nome">Name is required.</small>
                        </div>
                        <div class="field">
                            <label for="descricao">Descrição</label>
                            <textarea id="descricao" pInputTextarea [(ngModel)]="product.descricao" required rows="3" cols="20"></textarea>
                        </div>
                
                        <div class="field">
                            <label for="situacao_produto">Situação do Produto</label>
                            <p-dropdown [(ngModel)]="product.situacao_produto" inputId="situacao_produto" [options]="statuses">
                                <ng-template pTemplate="selectedItem">
                                    <p-tag [value]="product.situacao_produto" [severity]="getSeverity(product.situacao_produto)"></p-tag>
                                </ng-template>
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option" [severity]="getSeverity(option)"></p-tag>
                                </ng-template>
                            </p-dropdown>
                        </div>
                
                        <div class="field">
                            <label class="mb-3">Tipo</label>
                            <div class="formgrid grid">
                                <div class="field-radiobutton col-6">
                                    <p-radioButton id="tipo1" name="tipo" value="Bebida" [(ngModel)]="product.tipo"></p-radioButton>
                                    <label for="tipo1">Bebida</label>
                                </div>
                                <div class="field-radiobutton col-6">
                                    <p-radioButton id="tipo2" name="tipo" value="Comida" [(ngModel)]="product.tipo"></p-radioButton>
                                    <label for="tipo2">Comida</label>
                                </div>
                                <div class="field-radiobutton col-6">
                                    <p-radioButton id="tipo3" name="tipo" value="Brinde" [(ngModel)]="product.tipo"></p-radioButton>
                                    <label for="tipo3">Brinde</label>
                                </div>
                                <div class="field-radiobutton col-6">
                                    <p-radioButton id="tipo4" name="tipo" value="Outro" [(ngModel)]="product.tipo"></p-radioButton>
                                    <label for="tipo4">Outro</label>
                                </div>
                            </div>
                        </div>
                
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="preco">Preço</label>
                                <p-inputNumber id="preco" [(ngModel)]="product.preco" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
                            </div>
                            <div class="field col">
                                <label for="quantidade">Quantidade</label>
                                <p-inputNumber id="quantidade" [(ngModel)]="product.quantidade"></p-inputNumber>
                            </div>
                        </div>
                    </ng-template>
                
                    <ng-template pTemplate="footer">
                        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                    </ng-template>
                </p-dialog>
                
                <p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


