<div class="row">
    <div class="col-md-1" style="position: static;">
    </div>
    <div class="col-md-10">
        <div class="card flex justify-content-center">
            <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
        </div>
        <p-card header="Cadastro">
            <p-carousel [value]="items2" [numVisible]="5" [numScroll]="5" [circular]="false" [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
                <ng-template let-pagina pTemplate="item">
                    <div class="pagina-item" (click)="abrirLink(pagina.url)">
                        <div class="pagina-item-content">
                            <div class="mb-3">
                                <img src="{{pagina.icon}}" [alt]="pagina.name" class="pagina-image" />
                            </div>
                            <div>
                                <h4 class="mb-1">{{pagina.label}}</h4>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>

            
        </p-card>

    </div>
    <div class="col-md-1"></div>
</div>

