

<app-menu-principal></app-menu-principal>

  
  <div class="content" role="main">
  
    

  

  

  
  <app-footer></app-footer>

  <app-background-clouds></app-background-clouds>

</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/primeicons/4.1.0/js/primeicons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/primeng/12.2.0/primeng.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<script src="https://rawgit.com/icebob/fakerator/master/dist/fakerator.js"></script>


<router-outlet></router-outlet>
