/* You can add global styles to this file, and also import other style files */
.p-breadcrumb .p-breadcrumb-chevron:before {
    content: "" !important;
}

.p-inputtext {
    width: 100%;
}

.row {
    margin-bottom: 15px;
}