/* You can add global styles to this file, and also import other style files */
.p-breadcrumb .p-breadcrumb-chevron:before {
    content: "" !important;
}

.p-inputtext {
    width: 100%;
}

.row {
    margin-bottom: 15px;
}

.p-datatable .p-datatable-header {
    border: 0px;
    border-width: 0 0 0 0; 
    padding: 0rem 0rem; 
}